<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dz.walid.unitconverter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Controllers.LiquidActivity" android:parentActivityName=".Controllers.ServiceActivity"/>
        <activity android:name=".Controllers.TimeActivity" android:parentActivityName=".Controllers.ServiceActivity"/>
        <activity android:name=".Controllers.WeightActivity" android:parentActivityName=".Controllers.ServiceActivity"/>
        <activity android:name=".Controllers.DistanceActivity" android:parentActivityName=".Controllers.ServiceActivity"/>
        <activity android:name=".Controllers.ServiceActivity" android:parentActivityName=".Controllers.MainActivity" />
        <activity android:name=".Controllers.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>